*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.input-box {
  border: none;
  border-bottom: 1.5px solid rgba(168, 154, 154, 0.322);
  border-radius: 0px;
  transition: none;
  width: 100%;
  padding-bottom: 2px;
}

.input-box:focus {
  outline: none;
  border-bottom: 1.5px solid red;
  transform: scaleY(1.05);
}

.input-box {
  transition: border 0.5s ease-out;
}

.moving_text {
  color: black;
  font-weight: 400;
  padding: 1rem;
}

.moving_text:hover {
  color: black;
  text-decoration: none;
  cursor: context-menu;
}

.addBook_button {
  appearance: none;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 5px;
  padding: 0.6em 2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  box-shadow: 0 0 40px 40px #185adb inset, 0 0 0 0 #185adb;
  transition: all 150ms ease-in-out;
}

.addBook_button:hover,
.addBook_button:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #03256c inset, 0 0 10px 4px #185adb;
  background: #03256c;
}

